# '.zshrc' is sourced in interactive shells. It should contain commands to set
# up aliases, functions, options, key bindings, etc.
#
# '.zshrc' is 2/4 files that are executed


# Path to your oh-my-zsh installation.
export ZSH={{- .chezmoi.homeDir }}/.oh-my-zsh

# Set name of the theme to load. Optionally, if you set this to "random"
# it'll load a random theme each time that oh-my-zsh is loaded.
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes
ZSH_THEME="rkj-repos" # this is the one I've been digging
#ZSH_THEME="fletcherm"
#ZSH_THEME="random"

# Uncomment the following line to disable auto-setting terminal title.
DISABLE_AUTO_TITLE="true"

# Uncomment the following line to display red dots whilst waiting for completion.
COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
HIST_STAMPS="yyyy-mm-dd"

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(
  bundler # This plugin adds completion for basic bundler commands, as well as aliases and helper functions for an easier experience with bundler.
  colored-man-pages # This plugin adds colors to man pages.
  docker # This plugin adds auto-completion and aliases for docker.
  docker-compose # This plugin provides completion for docker-compose as well as some aliases for frequent docker-compose commands.
  git # The git plugin provides many aliases and a few useful functions.
  rust # This plugin adds completion for rustc, the compiler for the Rust programming language.
  tmux # This plugin provides aliases for tmux, the terminal multiplexer.
  vi-mode # his plugin increase vi-like zsh functionality.
)

# PLUGINS OF INTEREST PAST AND FUTURE
#  aws # This plugin provides completion support for awscli and a few utilities to manage AWS profiles and display them in the prompt.
#  brew # The plugin adds several aliases for common brew commands
#  docker-machine # Review this down the road
#  gem # This plugin adds completions and aliases for Gem.
#  git-prompt # A zsh prompt that displays information about the current git repository.
#  golang # This plugin adds completion for the Go Programming Language, as well as some aliases for common Golang commands.
#  iterm2 # This plugin adds a few functions that are useful when using iTerm2.
#  pj # https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/pj
#  rails # This plugin adds completion for Ruby On Rails Framework and Rake commands, as well as some aliases for logs and environment variables.
#  rake # This plugin adds support for rake, the Ruby build tool or Ruby Make.
#  rbenv # The primary job of this plugin is to provide rbenv_prompt_info which
#        # can be added to your theme to include Ruby version and gemset information
#        # into your prompt. 
#        # Some functionality of this plugin will not work unless you also have the rbenv plugin gemset installed. https://github.com/jf/rbenv-gemset
#  redis-cli # This plugin adds redis-cli completion, based off of {{- .chezmoi.version.builtBy }} completion.

source $ZSH/oh-my-zsh.sh

# `.zshrc' is sourced in interactive shells. It should contain commands to set
# up aliases, functions, options, key bindings, etc.



alias rm='rm -i'
alias cp='cp -i'

alias   l='ls  -FG'
alias  l1='ls  -1FG'
alias  ll='ls  -lFGhl'
alias  la='ls  -AFG'
alias lal='ls  -AFGhl'
alias la1='ls -1AFGh'

alias chrome='open -a /Applications/Google\ Chrome.app'
alias firefox='open -a /Applications/Firefox.app'
alias markoff='open -a /Applications/Markoff.app'
alias safari='open -a /Applications/Safari.app'

# configure the environment for cargo/rust
source "$HOME/.cargo/env"

# configure the environment for rbenv's management of ruby
eval "$(rbenv init - zsh)"

{{- if eq .chezmoi.os "darwin" }}
#test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"
#alias iterm-into-the-light="it2setcolor preset 'Solarized Light'"
#alias iterm-darkness-falls="it2setcolor preset 'Solarized Dark'"
{{- end }}

