# ~/.bash_profile 
#
# sourced by 
# (1) interactive login shells
# (2) non-interactive shells started with the --login option

# First do any configuration particular to "login shells"
source $HOME/.shell/habitat.env

# and then pull in the rest of the configuration you want for bash
source $HOME/.bashrc

echo "Hello Elliot"

