# ~/.bash_profile is run by 
# (1) "interactive login shells"
# (2)" non-interactive shells with the --login option"

# First do any configuration particular to "login shells"

# and then pull in the rest of the configuration you want for bash
source $HOME/.bashrc

