[init]
  defaultBranch = main
[core]
  editor = vim --nofork
  pager = bat 
[pager]
  diff = bat
[user]
  name = Jason Heath
{{- if eq .chezmoi.username "jaheath" }} 
  email = jason.heath@progress.com
{{- else if eq .chezmoi.username "jah" }} 
  email = jason.heath@progress.com
{{- else }}
  email = jh@jasonheath.com
{{- end }}
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[format]
  pretty = reference
[diff]
  tool = vimdiff
  prompt = no
[difftool]
  prompt = false
[log]
  abbrevCommit = true
[alias]
  branches-merged = branch --list --remotes --merged
  branches-not-merged = branch --list --remotes --no-merged
  ca = commit --all
  cam = commit --all --message
  dt = difftool
  rlog = log --reverse --max-count=16
  lg = lg1
  lg1 = lg1-specific --all
  lg2 = lg2-specific --all
  lg3 = lg3-specific --all
  lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
  lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
[fetch]
  prune = true
