set nocompatible " actually run by default so could elide " However, keep as the first line because VIVE LA VIM!

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"" MANDATORY SETTINGS are for my sanity
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
set autoindent
set autowrite
set autoread
set nobackup
set nowrap
set nowrapscan
set number
set ruler
set expandtab " has my attitude about tabs actually changed?
set smarttab
set shiftwidth=2
set tabstop=2
set smartindent
set visualbell

set encoding=utf8
set ffs=unix,dos,mac


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"" CREATURE FEATURES make life good
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
set confirm
set mousehide
set ignorecase
set smartcase
set hlsearch
set incsearch
set magic
set lazyredraw
set showmatch
set report=0
set splitbelow
set splitright
set warn
set suffixes='.bak,~,.o,.info,.swp,.obj'
						 ".bak,~,.o,.h,.info,.swp,.obj <-- default


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"" AUTOCOMMANDS 
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
autocmd FocusLost * nested silent! :wa


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""   FILETYPE SETTINGS
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
syntax enable
filetype plugin on
filetype indent on 

iab zhd #---------------------------------------------------------------------<cr>#<cr>#---------------------------------------------------------------------<cr><Esc>kka

set guifont=InputMono-Regular:h18

" https://github.com/junegunn/vim-plug/wiki/tips#automatic-installation
let data_dir = has('nvim') ? stdpath('data') . '/site' : '~/.vim'
if empty(glob(data_dir . '/autoload/plug.vim'))
  silent execute '!curl -fLo '.data_dir.'/autoload/plug.vim --create-dirs  https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
  autocmd VimEnter * PlugInstall --sync | source $MYVIMRC
endif

call plug#begin()
" The default plugin directory will be as follows:
"   - Vim (Linux/macOS): '~/.vim/plugged'
"   - Vim (Windows): '~/vimfiles/plugged'
"   - Neovim (Linux/macOS/Windows): stdpath('data') . '/plugged'
" You can specify a custom plugin directory by passing it as the argument
"   - e.g. `call plug#begin('~/.vim/plugged')`
"   - Avoid using standard Vim directory names like 'plugin'
" Initialize plugin system
" - Automatically executes `filetype plugin indent on` and `syntax enable`.

" Make sure you use single quotes


{{- if eq .chezmoi.os "darwin" }}
Plug 'altercation/vim-colors-solarized'
Plug 'vimpostor/vim-lumen'
{{- end }}

Plug 'vim-airline/vim-airline'
Plug 'vim-airline/vim-airline-themes'

Plug 'rust-lang/rust.vim'
Plug 'vim-syntastic/syntastic'
Plug 'preservim/tagbar'

Plug 'chrisbra/Colorizer'

call plug#end()

" You can revert the settings after the call like so:
"   filetype indent off   " Disable file-type-specific indentation
"   syntax off            " Disable syntax highlighting
"

{{- if eq .chezmoi.os "darwin" }}
" au User LumenLight echom 'Entered light mode'
" au User LumenDark echom 'Entered dark mode'
colorscheme solarized
let g:airline_theme='solarized'
{{- else if eq .chezmoi.os "linux" }}
set background=dark
colorscheme elflord
{{- end }}

