
export GOPATH=$HOME/go
mkdir -p $GOPATH
export PATH=$PATH:$GOPATH/bin





# ┌─[jaheath@C02G2566MD6R] - [~] - [2023-04-27 07:13:15]
# └─[1] <> go version
# go version go1.20.3 darwin/amd64
# ┌─[jaheath@C02G2566MD6R] - [~] - [2023-04-27 07:13:18]
# └─[0] <> go env
# GO111MODULE=""
#   https://go.dev/ref/mod#mod-commands
# GOARCH="amd64"
# GOBIN=""
# GOCACHE="/Users/jaheath/Library/Caches/go-build"
# GOENV="/Users/jaheath/Library/Application Support/go/env"
# GOEXE=""
# GOEXPERIMENT=""
# GOFLAGS=""
# GOHOSTARCH="amd64"
# GOHOSTOS="darwin"
# GOINSECURE=""
# GOMODCACHE="/Users/jaheath/go/pkg/mod"
# GONOPROXY=""
# GONOSUMDB=""
# GOOS="darwin"
# GOPATH="/Users/jaheath/go"
# GOPRIVATE=""
# GOPROXY="https://proxy.golang.org,direct"
# GOROOT="/usr/local/go"
# GOSUMDB="sum.golang.org"
# GOTMPDIR=""
# GOTOOLDIR="/usr/local/go/pkg/tool/darwin_amd64"
# GOVCS=""
# GOVERSION="go1.20.3"
# GCCGO="gccgo"
# GOAMD64="v1"
# AR="ar"
# CC="clang"
# CXX="clang++"
# CGO_ENABLED="1"
# GOMOD="/dev/null"
# GOWORK=""
# CGO_CFLAGS="-O2 -g"
# CGO_CPPFLAGS=""
# CGO_CXXFLAGS="-O2 -g"
# CGO_FFLAGS="-O2 -g"
# CGO_LDFLAGS="-O2 -g"
# PKG_CONFIG="pkg-config"
# GOGCCFLAGS="-fPIC -arch x86_64 -m64 -pthread -fno-caret-diagnostics -Qunused-arguments -fmessage-length=0 -fdebug-prefix-map=/var/folders/n_/svm9hfcd2db85r8vk_qwph280000gr/T/go-build1861141433=/tmp/go-build -gno-record-gcc-switches -fno-common"
