#---------------------------------------------------------------------
# PATH management
#---------------------------------------------------------------------
# This path mgmt is focused on adding things to the PATH that I've
# wanted to install so here we build up a hierarchical ordering of
# paths and then we append any preexisting PATH value to that so that
# our preferred executables are found prior to things on the path
# before we intereceded

elements=( $HOME/bin )
elements+=(/Applications/MacVim.app/Contents/bin)
elements+=(/Applications/Visual Studio Code.app/Contents/Resources/app/bin)
elements+=(/bin)
elements+=(/sbin)
elements+=(/usr/bin)
elements+=(/usr/sbin)
elements+=(/usr/local/bin)
elements+=(/usr/local/sbin)
echo "elements = ${elements[*]}"


path=$(IFS=":"; echo "${elements[*]}")
echo "path = $path"

if [[ -n $PATH ]]; then
  path="$path:$PATH"
fi
export PATH=$path
echo "PATH = $PATH"
export PATH=$(echo -n $PATH | awk -v RS=: '!($0 in a) {a[$0]; printf("%s%s", length(a) > 1 ? ":" : "", $0)}')
echo "PATH = $PATH"
unset IFS
unset elements
unset path

#uniq_path=($(tr ' ' '\n' <<<"${ip_addrs[@]}" | awk '!u[$0]++' | tr '\n' ' '))
#export UNIQ_PATH=uniq_path
#unset uniq_path

